.banner_img img{
    height: 50%;
    width: 100%;
    border-radius: 1px;
}
.centered {
    position: absolute;
    top: 25%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
  }
.logo img {
    width: 12%;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    top: 140px;
    z-index: 1;
}

body{
    margin: 0px;
    background-color: grey;
}

.links{
    background-color: e0e0e0;
}
.links nav{
    text-align: right;
}
.links nav ul{
    display: inline-flex;
    margin-left: 172px;
    list-style: none;
    padding: 1px;
    text-align: right;
}
.links nav ul li{
    padding-left: 20px;
}

.content{
    padding: 50px;
}

.home_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

footer{
    height: 15%;
    background-color: e0e0e0;
}
.nft-images img{
    width: 10%;
    margin: 1px;
    border-radius: 5px;
}

.collapsible {
    background-color: grey;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 31%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .collapsible img{
    width: 30%;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .props {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: grey;
    border-style: double;
    width: 28%;
  }

  .dropdown_fil{
    float: left;
    padding: 10px;
  }